.gradle/
build/
out/
target/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
*.db
*.mv.db
*.trace.db
*.secret
eula.txt
server.properties
ma-aura-players.yml
players.yml
usercache.json
ops.json
whitelist.json
banned-ips.json
banned-players.json
